@model Blog.Models.BlogPostModel



<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Add New Post</h2>
            <hr />
        </div>        
        <div class="mb-3">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Text"></label>
            <textarea rows="5" asp-for="Text" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn" style="width:150px;background-color:#fdc57b; color:#394a51">Add Post</button>
        <a asp-controller="BlogPost" asp-action="Index" class="btn btn-secondary" style="width:150px;background-color:#394a51; color:#fbf2d5">
            Go Back
        </a>
    </div>
</form>